<h1>Mein Blog</h1>
<%= link_to "Neuen Post erstellen", '/posts/new' %>
<% @posts.each_with_index do |post, i| %>
  <div>
    <h3> 
      <%= "#{i+1}) "%>
      <%= link_to "#{post.title}", "/posts/show/#{post.id}" %> 
    </h3>
    <h4> <%= link_to "Editiere diesen Post", "/posts/edit/#{post.id}" %> </h4>
    <p> <%= post.content %> </p>
  </div>
<% end %>
